<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
        <% include partials/head %>
</head>
<body class='login'>
    <div class="container">
        <div class="col-sm-6 mx-auto">      
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="text-center">
                        <span class="fa fa-sign-in-alt"></span> Login
                    </h1>
                 
                <!-- mensaje de alerta-->
                    <% if(message.length > 0) { %>
                        <div class="alert alert-danger">
                           <% message %>
                        </div>
                        <% } %>
 
               <!-- formulario-->
                <form action="/login" method="post">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name='email' class='form-control'>
                    </div>
                    <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name='password' class='form-control'>
                    </div>
                    <div class="text-center mt-4">
                    <input type="submit" class='btn btn-dark btn-lg'>
                    </div>
                </form>
                <hr>
                <div class="text-center">
                    <p>Need an account? <a href="/signup">Sign Up</a>.</p>
                    <p>Or go <a href="/">Home</a>.</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>